<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Login | Online Courses</title>
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/javascript/script.js"></script>
</head>
<body>
    <%- include('parts/header.ejs') %>
    <form id="loginForm">
        <div class="form-container">
            <div class="form">
                <h2>Enter your email:</h2>
                <input type="text" id="email" name="email">
            </div>
        
            <div class="form">
                <h2>Enter your password:</h2>
                <input type="password" id="password" name="password">
                <div class="g-recaptcha" data-sitekey="6LesMGApAAAAAN0o8kDq5yi7R2VDIzMPj273hNlf" style="margin-top: 10px;"></div>
                <button>Login</button>
                <a id="register" href="/register">Don't have an account? Click to register!</a>
            </div>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/javascript/login.js"></script>
      
</body>
</html>
