<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <div class="jumbotron">
        <div class="container">
            <h1>Payment Successful</h1>
            <p>Your payment was successful. Thank you! Wait an email with the link to your courses!</p>
        </div>
    </div>
</body>
</html>
